<div class="container">
  <div style="width: 350px; height: 450px">
    <div>
      <!-- <p  style=" display: flex; justify-content: center; align-items: center;color: red; font-weight: bold;"><i class="bi bi-x-circle" style="font-weight: bold;"></i> Thông tin đăng nhập không chính xác</p> -->
      <!-- Form -->
      <form [formGroup]="rfContact">
        <div
          style="display: flex; justify-content: center; align-items: center"
        >
          <input
            type="text"
            placeholder="Email"
            style="width: 90%; padding: 10px; border-radius: 5px"
            formControlName="email"
          />
        </div>
        <div
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 10px;
          "
        >
          <input
            type="password"
            placeholder="Mật khẩu"
            style="width: 90%; padding: 10px; border-radius: 5px"
            formControlName="password"
          />
        </div>
        <div
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 10px;
          "
        >
          <input
            type="password"
            placeholder="Mật khẩu mới"
            style="width: 90%; padding: 10px; border-radius: 5px"
            formControlName="newPassword"
          />
        </div>
        <div
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 10px;
          "
        >
          <input
            type="password"
            placeholder="Nhập lại mật khẩu mới"
            style="width: 90%; padding: 10px; border-radius: 5px"
            formControlName="enterNewPassword"
          />
        </div>
      </form>
      <p *ngIf="isCheckInfo" style=" display: flex; justify-content: center; align-items: center;color: red; font-weight: bold;margin: 0;"><i class="bi bi-x-circle" style="font-weight: bold;"></i> Hãy nhập đầy đủ thông tin</p>
      <p *ngIf="isCheckPass" style=" display: flex; justify-content: center; align-items: center;color: red; font-weight: bold;margin: 0;"><i class="bi bi-x-circle" style="font-weight: bold;"></i> Mật khẩu mới không khớp</p>
      <p *ngIf="isCheckEmail" style=" display: flex; justify-content: center; align-items: center;color: red; font-weight: bold;margin: 0;"><i class="bi bi-x-circle" style="font-weight: bold;"></i>Email không phải của tài khoản này</p>

      <!--  -->
      <div
        style="
          display: flex;

          justify-content: space-around;
          padding-top: 20px;
        "
      >
        <button
          type="submit"
          class="btn"
          style="background-color: #26b99a;color: white;"
          (click)="onChange()"
        >
          Thay đổi
        </button>
        <div style="display: grid; color: black">
          <a style="cursor: default">Quên mật khẩu?</a>
        </div>
      </div>
    </div>
  </div>
</div>
